# ── TempMail Frontend Environment Variables ──

# Backend Production API Proxy Target (e.g. http://16.170.6.246 or https://yourdomain.com)
BACKEND_INTERNAL_URL=http://16.170.6.246

# Public API & Socket.io URLs (Optional if using proxy rewrites)
NEXT_PUBLIC_API_URL=http://16.170.6.246
NEXT_PUBLIC_SOCKET_URL=http://16.170.6.246

# EmailJS Contact Form Integration
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_mdmhd9a
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_rjjc9al
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=ekuskUcrGiLPmY7gR
